#### --- Using the Normal Equation formula: w = (Xᵀ * X)⁻¹ * Xᵀ * y ---
open LR.py to see how it works

In [1]:
import LR;
import pandas as pd
import numpy as np

df = pd.read_csv("house_price_regression_dataset.csv")
df

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,1360,2,1,1981,0.599637,0,5,2.623829e+05
1,4272,3,3,2016,4.753014,1,6,9.852609e+05
2,3592,1,2,2016,3.634823,0,9,7.779774e+05
3,966,1,2,1977,2.730667,1,8,2.296989e+05
4,4926,2,1,1993,4.699073,0,8,1.041741e+06
...,...,...,...,...,...,...,...,...
995,3261,4,1,1978,2.165110,2,10,7.014940e+05
996,3179,1,2,1999,2.977123,1,10,6.837232e+05
997,2606,4,2,1962,4.055067,0,2,5.720240e+05
998,4723,5,2,1950,1.930921,0,7,9.648653e+05
999,3268,4,2,1983,3.108790,2,2,7.425993e+05

In [2]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['House_Price'])  
y = df['House_Price'] 

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [3]:
model = LR.Model()
model.fit(x_train, y_train)

Prediction Equation

In [4]:
model.show_equation()

'y ≈ -2001085.45 + (199.84 * x_1) + (10169.85 * x_2) + (8361.45 * x_3) + (988.48 * x_4) + (14824.60 * x_5) + (4950.81 * x_6) + (92.62 * x_7)'

In [5]:
predict_df = pd.DataFrame(x_test)
predict_df["House_Price"] = model.predict(x_test)
predict_df.head()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
507,2031,3,2,1993,4.730994,2,10,503029.804108
818,1754,2,2,1998,0.919722,2,4,385390.939663
452,1667,1,2,1954,1.365395,1,8,316368.505235
368,4230,3,1,1951,3.079504,1,9,863069.415729
242,3854,2,1,1974,3.273415,1,8,803277.689425

Using SK-Learn

In [6]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression().fit(x_train, y_train)

In [7]:
y_pred = LR.predict(x_test)
x_test["House_Price"] = y_pred
x_test.head()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
507,2031,3,2,1993,4.730994,2,10,503029.804108
818,1754,2,2,1998,0.919722,2,4,385390.939663
452,1667,1,2,1954,1.365395,1,8,316368.505235
368,4230,3,1,1951,3.079504,1,9,863069.415729
242,3854,2,1,1974,3.273415,1,8,803277.689425